<h1>Welcome to the Super Store</h1>
<h3>Check out a Department to see items</h3>
<%= link_to 'Create New Department', new_dept_path %> 
<ul>
  <% @depts.each do |dept| %> 
    <li>
      <%= link_to dept.name %> 
    </li>
  <% end %> 
</ul>

